header h1 {
  margin-bottom: 2rem;
}

main {
  gap: 3rem;
  margin-bottom: 4rem;
}

section h2 {
  margin-bottom: 1rem;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 0.25rem;
}

li i {
  margin-right: 0.5rem;
}

form {
  width: 90%;
}

form label {
  width: 100%;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
  text-align: left;
}

form input, form textarea {
  width: 100%;
  margin-bottom: 1.5rem;
}

.form-button {
  width: 50%;
  margin-bottom: 0;
}
