.identity-vicente {
  color: black;
  background-color: white;
  border-color: black;
  transition-property: color, background-color, border-color;
  transition-duration: 0.3s;
}

.identity-viclourenco {
  color: white;
  background-color: black;
  border-color: white;
  transition-property: color, background-color, border-color;
  transition-duration: 0.3s;
}
