.project {
  display: grid;
  grid-template-columns: 70% auto;
  column-gap: 1rem;
  text-align: left;
}

.project-left {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.project-text {
  flex: 1;
}

.project-text h3, .project-text p {
  margin-bottom: 1rem;
}

.project-left a {
  width: fit-content;
}

.project-left a i {
  margin-left: 0.5rem;
}

.project img {
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
}

.project-right {
  justify-content: center;
}
