@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

:root {
  --color-text: black;
  --color-text-light: darkgray;
  --color-text-warning: red;
  --color-main: dodgerblue;
  --color-light: rgb(192, 225, 255);
  --color-background: white;
}

html, body {
  min-height: 100vh;
}

nav, main, section {
  width: 100%;
}

a, form, section .grid {
  width: 90%;
}

header {
  gap: 2rem;
}

nav {
  gap: 1.5rem;
}

main {
  gap: 3rem;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  gap: 4rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: var(--color-text);
  background-color: var(--color-background);
}

h1, h2, h3, b, a, label, i, .form-button {
  font-weight: bold;
  color: var(--color-main);
}

h1, h2, p {
  margin: 0;
}

header img {
  max-width: 70%;
  height: auto;
  border-radius: 100%;
}

section h2, section h3 {
  margin-bottom: 1rem;
}

a, input, textarea {
  padding: 0.5rem;
  border-width: 0.2rem;
  border-radius: 1.4rem;
  border-style: solid;
  border-color: var(--color-main);
  background-color: var(--color-background);
  text-decoration: none;
}

input {
  color: var(--color-text);
}

textarea {
  resize: none;
  color: var(--color-text);
}

a:hover, input:hover, textarea:hover {
  background-color: var(--color-light);
}

a:active, .form-button:active {
  color: var(--color-background);
  background-color: var(--color-main);
}

a:active i {
  color: var(--color-background);
}

.button {
  width: 3rem;
  height: 3rem;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 1.25rem;
}

#button-home {
  left: 0.5rem;
  top: 0.5rem;
}

#button-top {
  visibility: hidden;
  bottom: 0.5rem;
  right: 0.5rem;
}

.grid {
  display: grid;
  grid-template-columns: min-content auto;
  column-gap: 1rem;
  row-gap: 0.5rem;
  text-align: right;
  font-size: 1.1rem;
}

.percentage-bar {
  height: fit-content;
  border-radius: 1rem;
  border-style: solid;
  border-width: 0.25rem;
  border-color: var(--color-main);
  background-color: var(--color-main);
}

.percentage-bar div {
  height: 1.1rem;
  background-color: var(--color-light);
  border-radius: 1rem;
}

ul {
  margin: 0;
  padding: 0;
  width: fit-content;
  font-size: 1.1rem;
  text-align: left;
}

.no-bullet-points {
  list-style-type: none;
}

li {
  margin-bottom: 0.25rem;
}

li i {
  margin-right: 0.5rem;
}

li::marker {
  color: var(--color-main);
}

.warning {
  display: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-text-warning);
}

form label {
  width: 100%;
  margin-left: 1.25rem;
  margin-bottom: 0.5rem;
  text-align: left;
}

form label + input, form label + textarea {
  width: 100%;
  margin-bottom: 1.5rem;
}

.form-button {
  width: 50%;
}

#button-dark-mode {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  background-color: transparent;
  border-style: none;
}

#button-dark-mode i {
  color: var(--color-text-light);
}

/* In case the display is longer than the page, push the footer towards the bottom */
footer {
  flex: 1;
  justify-content: end;
  gap: 4rem;
}

footer p {
  color: var(--color-text-light);
}

footer div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.github {
  width: fit-content;
  padding: 0;
  border: none;
  font-weight: normal;
  color: var(--color-text-light);
}

.github:hover {
  background-color: transparent;
}

.github:active {
  color: var(--color-text-light);
  background-color: transparent;
}

.github i, .github i:active {
  color: var(--color-text-light);
}
