@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

:root {
  --color-text: white;
  --color-text-light: darkgray;
  --color-main: dodgerblue;
  --color-light: rgb(192, 225, 255);
  --color-background: white;
}

html, body {
  min-height: 100vh;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-background);
}

header {
  margin-top: 2rem;
}

main {
  width: 100%;
}

section {
  width: 100%;
}

footer {
  flex: 1;
  justify-content: end;
}

footer h2 {
  margin-bottom: 4rem;
}

footer p {
  color: var(--color-text-light);
}

h1, h2, h3, b, a, label, .form-button, .bi {
  font-weight: bold;
  color: var(--color-main);
}

a, input, textarea {
  padding: 0.5rem;
  border-width: 0.2rem;
  border-radius: 1.4rem;
  border-style: solid;
  border-color: var(--color-main);
  background-color: var(--color-background);
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s;
}

a {
  width: 90%;
}

a:hover, input:hover, textarea:hover {
  background-color: var(--color-light);
}

a:active {
  color: var(--color-background);
  background-color: var(--color-main);
}

.form-button:active {
  color: var(--color-background);
  background-color: var(--color-main);
}

textarea {
  resize: none;
}

.button {
  width: 3rem;
  height: 3rem;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 1.25rem;
}

#button-home {
  left: 0.5rem;
  top: 0.5rem;
}

#button-top {
  visibility: hidden;
  bottom: 0.5rem;
  right: 0.5rem;
}

.grid {
  display: grid;
  grid-template-columns: min-content auto;
  column-gap: 1rem;
}

.grid p {
  text-align: right;
  font-size: 1.1rem;
}

.bar-outer {
  height: fit-content;
  border-radius: 1rem;
  border-style: solid;
  border-width: 0.25rem;
  border-color: var(--color-main);
  background-color: var(--color-main);
}

.bar-inner {
  height: 1.1rem;
  background-color: var(--color-light);
  border-radius: 1rem;
}

ul {
  padding: 0;
  width: fit-content;
}

li {
  font-size: 1.1rem;
  text-align: left;
}

li::marker {
  color: var(--color-main);
}
