:root {
  --blue: dodgerblue;
  --light-blue: rgb(192, 225, 255);
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 12rem;
  padding: 0 5rem;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

h1 {
  margin: 7rem 0;
  font-size: 5rem;
  color: var(--blue);
}

h2 {
  font-size: 4rem;
  color: var(--blue);
}

p {
  margin: 1.5rem 0;
  font-size: 2.5rem;
}

b {
  color: var(--blue);
}

a {
  padding: 2rem 0;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--blue);
  background-color: white;
  border-width: 0.4rem;
  border-radius: 5rem;
  border-color: var(--blue);
  border-style: solid;
  transition: color 0.3s, background-color 0.3s;
}

a:visited {
  color: var(--blue);
}

a:hover {
  background-color: var(--light-blue);
}

a:active {
  color: white;
  background-color: var(--blue);
}

header img {
  width: 60vw;
  margin-bottom: 4rem;
  border-radius: 100%;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

footer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

footer p {
  margin-bottom: 3rem;
  font-size: 2rem;
  color: darkgray;
}

footer h2 {
  margin-bottom: 5rem;
}

.desktop-header {
  display: none;
}

@media screen and (min-device-width: 768px) {
  .mobile-header {
    display: none;
  }

  .desktop-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  body {
    padding: 0;
    gap: 10rem;
  }

  h1 {
    margin: 0;
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  p {
    font-size: 1.5rem;
  }

  header {
    margin-top: 6rem;
  }

  .desktop-header-left {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .desktop-header-right {
    width: 25vw;
  }

  header img {
    max-width: 100%;
    margin: 0;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }

  a {
    width: 15vw;
    padding: 1rem;
    font-size: 1.5rem;
    border-width: 0.2rem;
  }

  footer p {
    margin: 1.5rem 0;
    font-size: 1.25rem;
  }
}
